@import 'https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet';

:root {
  --dk-gray-100: #f3f4f6;
  --dk-gray-200: #e5e7eb;
  --dk-gray-300: #d1d5db;
  --dk-gray-400: #9ca3af;
  --dk-gray-500: #6b7280;
  --dk-gray-900: #111827;
  --sidebar-width: 250px;
  --background-color-rgb: 255, 255, 255;
  --default-color: #3d4348;
  --default-color-rgb: 61, 67, 72;
  --accent-color: #388da8;
  --accent-color-rgb: 56, 141, 168;
  --contrast-color: #ffffff;
  --contrast-color-rgb: 255, 255, 255;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--dk-gray-100);
  font-size: 0.925rem;
}

#wrapper {
  margin-left: var(--sidebar-width);
  transition: all 0.3s ease-in-out;
}

#wrapper.fullwidth {
  margin-left: 0;
}

/** --------------------------------
 -- Sidebar
-------------------------------- */
.sidebar {
  background-color: rgba(var(--accent-color-rgb), 0.04);
  width: var(--sidebar-width);
  transition: all 0.3s ease-in-out;
  transform: translateX(0);
  z-index: 9999999;
}

.sidebar .close-aside {
  position: absolute;
  top: 7px;
  right: 7px;
  cursor: pointer;
  color: #eee;
}

.sidebar > ul > li {
  padding: 0.7rem 1.75rem;
}

.sidebar ul > li > a {
  color: var(--dk-gray-500);
  text-decoration: none;
}

/* Start numbers */

.sidebar ul > li > i {
  font-size: 18px;
  margin-right: 0.7rem;
  color: var(--dk-gray-500);
}

.show-sidebar {
  transform: translateX(-270px);
}

@media (max-width: 767px) {
  .sidebar {
    background-color: var(--default-color);
    color: var(--contrast-color);
  }
  .sidebar ul > li {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .sidebar ul > li a {
    color: var(--contrast-color) !important;
  }
  .hide-sidebar {
    transform: translateX(-270px);
  }
}

/** --------------------------------
 -- welcome
-------------------------------- */
.welcome {
  color: var(--dk-gray-900);
}

.welcome .content {
  background-color: rgba(var(--accent-color-rgb), 0.04);
}

.welcome p {
  color: var(--dk-gray-500);
}

/** --------------------------------
 -- Products
-------------------------------- */
.statistics {
  color: var(--dk-gray-900);
}

.statistics .box {
  background-color: rgba(var(--accent-color-rgb), 0.04);
  cursor: pointer;
}

.statistics .box i {
  width: 60px;
  height: 60px;
  line-height: 60px;
}

.statistics .box p {
  color: var(--dk-gray-500);
}

/** --------------------------------
 -- Charts
-------------------------------- */
.charts .chart-container {
  background-color: rgba(var(--accent-color-rgb), 0.04);
  height: 500px;
}

.charts .chart-container h3 {
  color: var(--dk-gray-900);
}

/* --------------------------------
  statis
-------------------------------- */

.statis {
  color: var(--dk-gray-100);
}

.statis .box {
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.navbar {
  background-color: var(--dk-gray-100) !important;
  z-index: 9999999;
}
.navbar .dropdown-menu {
  right: auto !important;
  left: 0 !important;
}
.navbar .navbar-nav > li > a {
  color: #eee !important;
  line-height: 55px !important;
  padding: 0 10px !important;
}
.navbar .navbar-brand {
  color: var(--dk-gray-900) !important;
}
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:hover {
  color: #eee !important;
}

.navbar .navbar-brand {
  line-height: 55px !important;
  padding: 0 !important;
}
.navbar .navbar-brand:focus,
.navbar .navbar-brand:hover {
  color: var(--dk-gray-900) !important;
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin: 0 !important;
}

@media (max-width: 767px) {
  .navbar > .container-fluid .navbar-brand {
    margin-left: 15px !important;
  }
  .navbar {
    padding: 0 !important;
  }
  .navbar-nav {
    width: fit-content;
    position: relative !important;
    top: -3.5rem;
  }

  .navbar .navbar-nav > li > a {
    padding-left: 0 !important;
  }

  .navbar-collapse {
    display: block !important;
    height: 0 !important;
  }
}

.navbar .navbar-nav > li > a {
  float: right !important;
}
.navbar .navbar-nav > li > a > span:not(.caret) {
  background-color: #388da8 !important;
  border-radius: 50% !important;
  height: 25px !important;
  width: 25px !important;
  padding: 2px !important;
  font-size: 11px !important;
  position: relative !important;
  top: -10px !important;
  right: 5px !important;
}
.dropdown-menu > li > a {
  padding-top: 5px !important;
  padding-right: 5px !important;
}
.navbar .navbar-nav > li > a > i {
  font-size: 18px !important;
}

/* Start media query */

@media (max-width: 767px) {
  #wrapper {
    margin: 0 !important;
  }
  .statistics .box {
    margin-bottom: 25px !important;
  }
}

::-webkit-scrollbar {
  background: transparent;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #3c3f58;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/*--------------------------------------------------------------
# Pricing Section
--------------------------------------------------------------*/

.pricing a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

.pricing a:hover {
  color: rgba(var(--accent-color-rgb), 0.75);
  text-decoration: none;
}

.pricing .pricing-item {
  background-color: rgba(var(--accent-color-rgb), 0.04);
  padding: 40px 40px;
  height: 100%;
  border-radius: 15px;
}

.pricing h3 {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 20px;
}

.pricing h4 {
  color: var(--accent-color);
  font-size: 48px;
  font-weight: 700;

  margin-bottom: 0;
}

.pricing h4 sup {
  font-size: 28px;
}

.pricing h4 span {
  color: rgba(var(--default-color-rgb), 0.5);
  font-size: 18px;
  font-weight: 500;
}

.pricing .description {
  font-size: 14px;
}

.pricing .cta-btn {
  background-color: var(--default-color);
  color: var(--contrast-color);
  display: block;
  text-align: center;
  padding: 10px 35px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--heading-font);
  transition: 0.3s;
  margin-top: 20px;
  margin-bottom: 6px;
}

.pricing .cta-btn:hover {
  background: var(--accent-color);
  color: var(--contrast-color);
}

.pricing ul {
  padding: 0;
  list-style: none;
  color: rgba(var(--default-color-rgb), 0.7);
  text-align: left;
  line-height: 20px;
}

.pricing ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.pricing ul li:last-child {
  padding-bottom: 0;
}

.pricing ul i {
  color: #059652;
  font-size: 24px;
  padding-right: 3px;
}

.pricing ul .na {
  color: rgba(var(--default-color-rgb), 0.4);
}

.pricing ul .na i {
  color: rgba(var(--default-color-rgb), 0.4);
}

.pricing ul .na span {
  text-decoration: line-through;
}

.pricing .featured {
  position: relative;
}

.pricing .featured .popular {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: var(--accent-color);
  color: var(--contrast-color);
  padding: 5px 15px;
  margin: 0;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
}

.pricing .featured .cta-btn {
  background: var(--accent-color);
  color: var(--contrast-color);
}

@media (max-width: 992px) {
  .pricing .box {
    max-width: 60%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 767px) {
  .pricing .box {
    max-width: 80%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 420px) {
  .pricing .box {
    max-width: 100%;
    margin: 0 auto 30px auto;
  }
}

/* .dropdown-menu */
.personInfo {
  position: relative;
  cursor: pointer;
  border-radius: 1rem;
}

.personInfo a {
  text-decoration: none;
  color: var(--dk-gray-900);
}

.personInfo:hover {
  background-color: rgba(var(--accent-color-rgb), 0.04);
}
.personInfo .info {
  position: absolute;
  transform: translateX(-20px) translateY(5px);
  width: 200px;
  top: 3rem;
  right: 0;
  padding: 20px;
  border-radius: 1rem;
  background-color: var(--default-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

.personInfo .info li > i,
.personInfo .info li > a {
  color: var(--contrast-color);
}

.drop-item {
  list-style-type: none;
  margin-bottom: 10px;
}

.body-container {
  width: 90%;
  margin: 0 auto;
}
