* {
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

.sphere_gif {
  width: 2rem;
  height: 2rem;
}

.sphere-img {
  max-width: 100%;
  display: block;
}

:root {
  --offcanvas-width: 200px;
  --topNavbarHeight: 70px;
  --offcanvas-min-width: 50px;
}

.offcanvas {
  width: var(--offcanvas-width) !important;
  margin-top: var(--topNavbarHeight);
  transition: width 0.3s ease; /* Smooth transition for width change */
}

.offcanvas.collapsed {
  width: var(--offcanvas-min-width) !important; /* Width when collapsed */
}

.dashboard-page {
  overflow-y: hidden;
  margin-left: calc(var(--offcanvas-width) + 0.25rem);
  transition: margin-left 0.3s ease-in;
}

.dashboard-page.collapsed {
  margin-left: calc(var(--offcanvas-min-width) + 0.25rem);
}

.reveal-btn {
  position: fixed;
  top: 3.75rem;
  left: 0.5rem;
  z-index: 999;
  visibility: hidden;
}

.hide-btn {
  visibility: visible;
}

.sidebar-link {
  display: flex;
  align-items: center;
}

.sidebar-link .right-icon {
  display: inline-flex;
}

.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .dashboard-page {
    margin-left: 0;
  }

  .reveal-btn,
  .hide-btn {
    visibility: visible;
  }
}

.default_dashboard {
  width: 100%;
  margin: 0 auto;
}

.amount {
  font-size: 3rem;
}
